[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
gensim = "*"
seaborn = "*"
sklearn = "*"
notebook = "*"
jupyter = "*"
nltk = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
chardet = "*"
jinja2 = "*"

[requires]
python_version = "3.7"
