-i https://pypi.org/simple
appnope==0.1.0 ; sys_platform == 'darwin'
attrs==19.1.0
backcall==0.1.0
bleach==3.1.0
boto3==1.9.115
boto==2.49.0
botocore==1.12.115
bz2file==0.98
certifi==2019.3.9
chardet==3.0.4
cycler==0.10.0
decorator==4.4.0
defusedxml==0.5.0
docutils==0.14
entrypoints==0.3
gensim==3.7.1
idna==2.8
ipykernel==5.1.0
ipython-genutils==0.2.0
ipython==7.3.0 ; python_version >= '3.3'
ipywidgets==7.4.2
jedi==0.13.3
Jinja2==2.10.1
jmespath==0.9.4
jsonschema==3.0.1
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyter==1.0.0
kiwisolver==1.0.1
markupsafe==1.1.1
matplotlib==3.0.3
mistune==0.8.4
nbconvert==5.4.1
nbformat==4.4.0
nltk==3.4
notebook==5.7.8
numpy==1.16.2
pandas==0.24.2
pandocfilters==1.4.2
parso==0.3.4
pexpect==4.6.0 ; sys_platform != 'win32'
pickleshare==0.7.5
prometheus-client==0.6.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0 ; os_name != 'nt'
pygments==2.3.1
pyparsing==2.3.1
pyrsistent==0.14.11
python-dateutil==2.8.0 ; python_version >= '2.7'
pytz==2018.9
pyzmq==18.0.1
qtconsole==4.4.3
requests==2.21.0
s3transfer==0.2.0
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
send2trash==1.5.0
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
smart-open==1.8.0
terminado==0.8.1
testpath==0.4.2
tornado==6.0.1
traitlets==4.3.2
urllib3==1.24.1 ; python_version >= '3.4'
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
